input, button {
	font-size: 1em;
	font-family: inherit;
	border: none;
}

input:focus, button:focus {
	outline: none;	
}

input {
	border-bottom: 1px solid black;	
}



#create-account {
	display: flex;
	justify-content: space-between;
}

#create-account input, #create-account button {
	
}










