/* mobile */
@media (max-width: 414px) {
	
	body {
		font-size: 14px;
		line-height: 1.2;
	}
	
	.post .text {
		line-height: 1.5;
		font-size: 1.25em;
	}
	
	#container {
		grid-template-columns: 100%;
	}
	
	#title {
		grid-row: 1;	
	}
	
	#menu {
		grid-column: 1;
		grid-row: 2;
	}
	
	#main {
		grid-column: 1;
		grid-row: 4;
	}
	
	#login {
		grid-row: 3;
	}
	
	.auth #main {
		grid-row: 3;	
	}
	
	#user-info {
		grid-row: 4;
	}
	
	/* menu flex box */
	#menu ul {
		justify-content: space-evenly;	
	}
	#menu a {
		font-size: 1.5em;	
	}
	#menu li {
		flex-grow: initial;
	}
	
	li#home {
		flex-basis: auto;	
	}
	
	/* create account  */
	#create-account {
		flex-wrap: wrap;
	}
	
	#create-account input, #create-account button {
		flex-basis: 100%;
		margin: 0.5em;
		font-size: 1.5em;
	}
}

/* tablet */
@media (min-width: 415px) and (max-width: 800px) {

	#menu {
		grid-column: 1;
		grid-row: 2;
	}
	
	#main {
		grid-column: 2;
		grid-row: 1 / span 2;
	}
	
	/* menu */
	#menu ul {
		flex-direction: column;
	}
	
	#menu li {
		font-size: 1.5em;
	}
	
	/* create accoun */
	
	#create-account {
		flex-wrap: wrap;
	}
	
	#create-account input {
		flex-grow: 1;
		flex-shrink: 0;
		flex-basis: 30%;
	}
	
	#create-account button {
		width: 200px;
		margin: 1em;
	}
}

/* desktop view - add flex basis rule */






